# client.py
class CustomClient:
    def __init__(self):
        # Initialization code
        pass

    def get_data(self, query: str):
        # Logic to retrieve data based on query
        # Return a list of dictionaries representing the data
        return [{"id": 1, "name": "Example", "description": "Sample data"}]
